<div class="feature-big">
  <div class="container">
    <div class="row mb-5 site-section">
      <div class="col-lg-7" data-aos="fade-right">
        <img src="/assets/images/os_rafiki.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">Build. Study. Sleep. Repeat </h2>
        <p class="mb-4">We help engineering teams to build solutions that work on scale. We build tools and pipelines to
          make them proud with what they did.</p>

        <div class="author-box" data-aos="fade-left">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img src="/assets/images/person_4.jpg" alt="Image" class="img-fluid rounded-circle">
            </div>
            <div class="mr-auto text-black">
              <strong class="font-weight-bold mb-0">Scott Anderson</strong> <br>
              CTO.
            </div>
          </div>
          <blockquote>&ldquo;We managed to build a reliable system so we can focus on what matters most.&rdquo;
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>