<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <img src="/assets/images/cloud_hosting-pana.svg" alt="Image" class="img-fluid img-absolute">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-6 mr-auto">
            <h1>cloud forward Co</h1>
            <p class="mb-5">
            </p>
            <h3>We work with distributed systems</h3>
            <p class="mb-5">
            </p>
            <h3>We speak Kubernetes and CICD</h3>
            <p class="mb-5">
            </p>
            <h3>We use <del>Infrastructure</del> <ins>Everything</ins> as a Code</h3>
            <p class="mb-5">
            </p>
            <div>
              <a href="https://cloudforward.co/#contact-section" target="_blank"
                class="btn btn-primary mr-2 mb-2">Contact
                us</a>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>