<div class="site-section bg-light" id="our-team-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center  mb-5">
        <h2 class="section-title">Our Team</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="person">
          <div class="bio-img">
            <figure>
              <img src="/assets/images/artur.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="social">
              <a href="https://www.linkedin.com/in/arturreznikov/"><span class="icon-linkedin"></span></a>
              <a href="https://github.com/arturrez"><span class="icon-github"></span></a>
            </div>
          </div>
          <h2 class="text-black h1">Artur Reznikov</h2>
          <span class="sub-title d-block mb-3">Owner, CTO</span>
          <p>20+ of years of experience. </p>
          <p>Yes, I am that <del>old</del> <ins>experienced</ins></p>
          <p>IaaC K8s CICD Golang</p>
        </div>
      </div>


    </div>
  </div>
</div>